.test {
  display: flex;
  justify-content: space-between;
  padding: 5.5rem;

}



.test h1 {
  color: #333;
  font-weight: 400;
  padding-bottom: 1rem;
  display: inline-block;
}

#categories-div{
  margin-top: 6rem !important;
}

.aboutus a{
  color: inherit;
}

.test h2{
  display: inline-block;
}

.test button {
  width: 10%;
  height: 10%;
  margin-top: 3rem;
  padding: 5px 10px;
  background-color: transparent;

  transition: 0.2s ease-in-out;
}

.test button:hover {
  transform: scale(1.1);
}

.category{
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  overflow-y: auto;
  overflow-x: auto;
  overflow: hidden;
}


.categories{
  margin-top: 15rem;
}

.category img {
  width: 210px;
  height: 210px;
  object-fit: contain;
  margin-top: 10px;
}


.category-collection{
  display: flex;
  

}


.black-border-bottom{
  margin-top: 3rem;
  border-bottom: 1px solid black;
  padding-bottom: 15rem;
  margin-bottom: 1rem;
}

.category-collection-card{
  width: 300px;

}

/* Collections Section */
.test2 h1 {
  margin-top: 5rem;
  font-size: 3.7rem;
  font-stretch: extra-expanded;
  font-family: 'SF Pro Rounded', monospace;
  text-align: center;
}

.shop-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
  align-items: center;
}

.shop-item-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
  transition: transform 0.3s ease-in-out;
  text-align: center;
}

.shop-item-div:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.item {
  width: 150px;
  height: 150px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #333;
  font-size: 4rem;
  color: white;
}

.shop-item-div h4 {
  font-size: 1rem;
  margin-top: 0.5rem;
}


.brand-carousel-container {
  max-width: 1000px; 
  overflow: hidden; 
  position: relative; 
  padding: 20px 0;
  border-radius: 8px;
  margin: 0 auto; 
}


.brand-carousel-track {
  display: flex; 
 
  animation: scroll 25s linear infinite; 
}



.brand-item {
  flex-shrink: 0; 
  width: 160px; 
  padding: 0 20px; 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}


.brand-item img {
  max-width: 100%; 
  max-height: 100%;
  height: auto;
  display: block; 
  object-fit: contain;
  filter: grayscale(100%); 
  opacity: 0.7; 
  transition: filter 0.3s ease, opacity 0.3s ease;
}


.brand-item:hover img {
  filter: grayscale(0%);
  opacity: 1;
}


@keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      
      transform: translateX(-50%);
  }
}


@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes hidetext {
  from {
    opacity: 25%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes bounce {
  0%,
50%,
  100% {
    transform: translateX(0);
  }
  30%,
  70% {
    transform: translateX(-2.5px);
  }
}



