
.test *{
    padding:1.5rem;
    font-family: 'SF Pro Rounded', sans-serif;
}

.test h1{
    font-size: 3.7rem;
    font-stretch: extra-expanded;
    font-family: 'SF Pro Rounded', monospace;
}
.hero{
    max-height: 200vh;
}

.test2 h1{
    margin-top: 5rem;
    font-size: 3.7rem;
    font-stretch: extra-expanded;
    font-family: 'SF Pro Rounded', monospace;
}

.shop-item-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
}

.shop-item-div:hover{
    cursor: pointer;
}

.item{
    width: 150px;
    height: 150px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: #373737;
}


.partners-container {
    width: 100%;
    height: 250px;
    overflow: hidden;  /* Hide the overflowing part of the marquee */
    display: flex;
    align-items: center; /* Align items vertically */
}

.partners-marquee {
    display: flex;
    gap:20px;
    animation: scroll 30s linear infinite;  /* 15 seconds duration for the scroll, adjust as needed */
}

.partners-marquee img {
    width: 100px;
    object-fit: contain;
}

.partner-logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 50px; /* Space between logos */
    white-space: nowrap; /* Prevent text wrapping */
    display: inline-block;
    color: #333;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);  /* Start from the right */
    }
    100% {
        transform: translateX(-100%);  /* Move all the way to the left */
    }
}


@keyframes bounce {
    0%, 50%, 100% {
        transform: translateX(0);
    }
    30%, 70% {
        transform: translateX(-2.5px);
    }
}