*{
  font-family: "SF Pro Rounded";
}
.navbar {
  z-index:3;
  display:flex;
  justify-content:center;
  align-items: center;
  color: #333;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #eee;
  text-decoration: none;
  background-color:white;
}

.navbar a {
  font-family: 'SF Pro Rounded';
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  color: #333;
  font-size: 18px;
  font-weight: 400;
  transition: 0.25532s ease-in-out;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

body{
  background-color: rgba(250,250,250,0.8) !important;
  overflow-x:hidden !important;
}


nav a:hover{
  border-bottom: 1px solid black;
}

nav a:first-child:hover{
  border-botton: 1px solid transparent !important;
}

.navbar-brand{
  font-weight:700;
  color: #333 !important;
  font-size:26px !important;
}

.shop-container{
    position: fixed;
    bottom: 150px;   
    right: 50px;    
    background-color: #333;
    color: white;
    padding: 25px;
    border-radius: 50%; 
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  
    cursor: pointer;    
    z-index: 4;      
    transition: 0.25s ease-in-out;  
}

.shop-container:hover{
  transform: scale(110%);
}



.is-visible{
  display: block;
}




.cartflyout {
  position: fixed;
  top: 8%;
  right: -15%;
  width: 15%;
  height: 90%;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  z-index: 300;
  background-color:white;
  animation-fill-mode: forwards;
  animation: slide-left 0.1s ease-in-out;
  display: none;
  flex-direction:column;
  border: 2.5px solid #333;
 }

.cartflyout.active {
  display: block;
  right: 0%;
}

.cartflyout.inactive {
  animation: slide-right 0.1s ease-in-out;
  right: -15%;
  animation-fill-mode: forwards;
}

@keyframes slide-left {
  from {
    right: -15%;
  }
  to {
    right: 0%;
  }
}

@keyframes slide-right {
  from {
    right: 0;
  }
  to {
    right: -15%;
  }
}


.cartflyout span {
  background-color: #333;
  margin-top: 3rem;
  position: absolute;
  right:10px;
  top:-10px;
  width: 41px;
  height: 6px;
  border-radius:16px;
  z-index: 301;
  transform: rotate(45deg);
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.cartflyout span:nth-of-type(1){

 transform: rotate(-45deg);
}

.spansection{
  z-index:3001;
  position:absolute;
  height:80px;
  width:100%;
}


.shoppingcartspan:hover {
  cursor: pointer;
}


.shoppingcart-items{
  display:flex;
  flex-direction:column;
  height:80%;
  gap:1.2rem;
  width:90%;
  margin-top:30%;
  align-self:center;
  position:absolute;
  z-index:300;
  overflow-y:auto;

}

.shoppingcart-item{
  font-family: "SF Pro Rounded";
  font-weight:700;
  border-radius:16px;
  padding:1rem;
  height:100px;
  border: 1px solid black;
}


.shop-flydown-menu{
  width:100%;
  position:relative;
  height:fit-content;
  top: -250px;
  background-color:white;
  z-index:1;
  display:none;
  padding-bottom: 3rem; 
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #eee;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.shop-flydown-menu a{
  color:grey;
  font-family: "SF Pro Rounded";
  padding-bottom:5px;
  text-decoration:none;
}

.shop-flydown-menu a:first-child{
  font-family: "SF Pro Rounded";
  color: #333 !important;
  font-weight: bold;
  font-size: 17px;
  padding-bottom: 10px;
}

.shop-flydown-menu a:first-child:hover{
  font-weight:bold !important;
}

.shop-flydown-menu a:hover{
  cursor:pointer;
  color: #333;
  font-weight: 500;
}

.shop-flydown-menu.show {
  display: flex;
  transform: translateY(250px);
}

