.navbar {
    margin-top: 1.5rem !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0px 6px 12px 0 #D3D3D3FF;
    background-color: #333333;
    margin-bottom: 5rem;
    border-radius: 16px;
}


.navbar span {
    color: white;
    font-size: 22px;
    font-family: 'SF Pro Rounded', sans-serif;
}

.nav-search {
    display: flex;
    align-items: center;
    gap: 10px; /* Proper spacing */
    flex-grow: 1;
    justify-content: center;
}

.nav-left{
    display: flex;
    align-items: center;
    z-index: 1;
    position: absolute;
    left:35%;
    cursor: pointer;
}


.nav-left select {
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    border: none;
    background-color: white;
}

.nav-middle {
    display: flex;

    align-items: center;
    position: relative;
    width: 100%;
    max-width: 400px;
}


.nav-middle button {
    position: absolute;
    right: 10px;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 30px;
    color: #373737;
    font-size: 16px;
    border-left: 1px dashed #373737FA;
}

.shop-container{
    position: fixed; /* Key for fixed positioning */
    bottom: 150px;   /* Distance from the bottom */
    right: 50px;    /* Distance from the right */
    background-color: #373737;
    color: white;/* Optional: Add a background */
    padding: 25px;         /* Optional: Add some padding */
    border-radius: 50%;    /* Optional: Make it circular */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Optional: Add a shadow */
    cursor: pointer;     /* Change cursor on hover */
    z-index: 1000;       /* Ensure it's above other content */
}

.navbar input {
    flex-grow: 1;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
    font-size: 16px;
}

.search-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
    cursor: pointer;
}



.nav-link {
    text-decoration: none;
}

.nav-link span {
    font-size: 20px;
}

.nav-link:hover {
    animation: bounce 0.5s infinite;
}

