.categories-shop span {
  color: grey;
}
.categories-shop {
  gap: 14px;
  border-bottom: 1px solid #333;
}

.categories-shop span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.inputfields input {
  padding-top: 1rem;
  border: none;
  border-bottom: 1px #333 solid;
  outline: none;
  background-color: transparent;
  width: 100%;
}

.fieldname {
  padding-bottom: 1rem;
}

.fieldname range {
  background-color: pink;
  color: orange;
}

.fieldname h6 {
  margin-top: 3rem;
}

.price-range-divs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.product-item {

  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 300px;
  height: 30rem;
}


.category-collection{
  overflow-y: auto;
  overflow-x: auto;
  overflow: hidden;
}

.product-item a {
  text-decoration: none;
  color: inherit;
}



.product-item-image img {
  object-fit: contain;
  height: 20rem;
  width: 100%;
}

.product-item:hover {
  box-shadow: 0px 5px 10px #eee, 5px 10px 20px #eee;
  transform: scale(100%);
}

.product-item-info {
  padding-top: 10px;
  gap: 10px;
}

.buttondiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttondiv button {
  margin-top: 3rem;
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #333;
}
